<% if signed_in? %>
	<table class="front" summary="For signed-in users">
		<tr>
			<td class="main">
				<%= render 'shared/micropost_form' %>
				<%= render 'shared/feed' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
			</td>
		</tr>
	</table>
<% else %>
<<<<<<< HEAD
	<h1>Now Doing Demo App</h1>
	<p>
		Hello World! What are you doing?
=======
	<h1>Groupiverse Demo App</h1>
	<p>
		This is the home page for the Groupiverse Demo Application!! Get Rdy!!
>>>>>>> 89486a85ea832b6a3f9e937202ed3150540e96c5
	</p>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>